html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    line-height:2;
    background-color:#eee;
    font-size:13px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:focus {
    outline: 1px dotted;
}

hr {
    border: 0 #ccc solid;
    border-top-width: 1px;
    clear: both;
    height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
    font-size: 25px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 19px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {
    margin-left: 30px;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {

}
/* clearfix */
.clearfix:after, .row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix, .row {
    display: inline-block;
}
/*Those two .clearfix have to be separate!)*/
.clearfix, .row {
    display: block;
}

/* gridframework */
.row {
    position: relative;
    margin-left: -10px;
}

.gu1 .row {
    width: 42px;
}

.gu2 .row {
    width: 84px;
}

.gu3 .row {
    width: 126px;
}

.gu4 .row {
    width: 168px;
}

.gu5 .row {
    width: 210px;
}

.gu6 .row {
    width: 252px;
}

.gu7 .row {
    width: 294px;
}

.gu8 .row {
    width: 336px;
}

.gu9 .row {
    width: 378px;
}

.gu10 .row {
    width: 420px;
}

.gu11 .row {
    width: 462px;
}

.gu12 .row {
    width: 504px;
}

.gu13 .row {
    width: 546px;
}

.gu14 .row {
    width: 588px;
}

.gu15 .row {
    width: 630px;
}

.gu16 .row {
    width: 672px;
}

.gu17 .row {
    width: 714px;
}

.gu18 .row {
    width: 756px;
}

.gu19 .row {
    width: 798px;
}

.gu20 .row {
    width: 840px;
}

.gu21 .row {
    width: 882px;
}

.gu22 .row {
    width: 924px;
}

.gu23 .row {
    width: 966px;
}

.gu24 .row {
    width: 1008px;
}

.col {
    padding-left: 10px;
    float: left;
    position: relative;
}

.gu1 {
    width: 32px;
}

.gu2 {
    width: 74px;
}

.gu3 {
    width: 116px;
}

.gu4 {
    width: 158px;
}

.gu5 {
    width: 200px;
}

.gu6 {
    width: 242px;
}

.gu7 {
    width: 284px;
}

.gu8 {
    width: 326px;
}

.gu9 {
    width: 368px;
}

.gu10 {
    width: 410px;
}

.gu11 {
    width: 452px;
}

.gu12 {
    width: 494px;
}

.gu13 {
    width: 536px;
}

.gu14 {
    width: 578px;
}

.gu15 {
    width: 620px;
}

.gu16 {
    width: 662px;
}

.gu17 {
    width: 704px;
}

.gu18 {
    width: 746px;
}

.gu19 {
    width: 788px;
}

.gu20 {
    width: 830px;
}

.gu21 {
    width: 872px;
}

.gu22 {
    width: 914px;
}

.gu23 {
    width: 956px;
}

.gu24 {
    width: 998px;
}

.container {    
    width: 1003px;
    background-color:white;    
    margin:0 auto;
    padding: 60px;
}

.page {    
    width: 1003px;
    height: 672px;
    background-color:white;    
    margin:0 auto;
    padding: 60px;
    border-bottom:1px dashed gray;
    overflow:hidden;
    page-break-after: always;
}

.page-auto {    
    width: 1003px;
    min-height:672px;
    background-color:white;
    margin:0 auto;
    padding: 60px;
    page-break-after: always;
}

.htmltopdf .page{
    width: 1003px;
    height: 673px;
    background-color:white;    
    margin:0 auto;
    padding:0;
    border:0; 
    page-break-after: always;
}

.htmltopdf .page-auto {
    width: 1003px;
    background-color:white;    
    margin:0 auto;
    padding:0;
    page-break-after: always;
}


body {
    line-height: 2;
}

h1, h2, h3 {
    text-align: center;
    padding-top:1em;
}

.table {
    width: 100%;
}

    .table thead {
        font-weight: bold;
        text-align: center;
    }


    .table-bordered th,.table-bordered td {
        border: 1px solid black;
        padding-left: 5px;
        padding-right: 5px;
    }

    th.page-title {
        border-top:0;
        border-left:0;
        border-right:0;
    }
